<h1>Bienvenido! Por favor identificate</h1>

<form action='/users' method='post'>
    <label for='firstName'>Nombre</label>
    <input type='text' id='firstName' name='firstName'>
    <br>
    <label for='lastName'>Apellido</label>
    <input type='text' id='lastName' name='lastName'>
    <br>
    <label for='email'>Contraseña</label>
    <input type='email' id='email' name='email'>
    <br>
    <button type='submit'>Ingresar</button>
</form>