<div>
    <h1>Listado de carritos</h1>

    <ul>
        {{#each carts}}
        <li class='tarjetaCarrito'>
            <h2>{{this._id}}</h2>
            <h2>{{this.title}}</h2>
            <a href='/cart/{{this._id}}'>Ver detalle</a>
        </li>
        {{/each}}
    </ul>

</div>