<div>
    <h1>Bienvenido!</h1>
    <h2>que funcionalidad desea utilizar?</h2>

    <button><a href="/products">Productos</a></button>
    <button><a href="/products/addproduct">Agregar productos</a></button>
    
    
</div>