<div>
    <h1>Hola, {{user.name}}</h1>
    {{#if isAdmin}}
    {{#each products}}
        <div>
            <p>{{this.title}}</p>
            <p>{{this.price}}</p>
        </div>
    {{/each}}
    {{else}}
    <p>No tienes permiso para ver el listado de productos</p>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>