<header>
    <h1>Bienvenido a la API de Matias Fazzito</h1>

    <h2>Que funcionalidad desea usar?</h2>

    <nav>
        <button><a href="/product">Ver Productos</a></button>
        <button><a href="/addproduct">Agregar Productos</a></button>
        <button><a href="/cart">Ver Carritos</a></button>
        <button><a href="/">Volver a inicio</a></button>
    </nav>

</header>