<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <header>

    </header>

    {{{body}}}

    <footer>
        <p>&copy; 2024 Matias Fazzito</p>
    </footer>
</body>

</html>